<div class="container mb-5">
    <h1>Habilidades</h1>
    <div class="card">
        <div class="row">
            <div class="col-md-12 justify-con">
                <ul class="list-group">
                    <li class="list-group-item mx-5 mt-2">Java</li>
                    <li class="list-group-item mx-5 mt-2">Spring Boot</li>
                    <li class="list-group-item mx-5 mt-2">Angular</li>
                    <li class="list-group-item mx-5 mt-2">RESTful APIs</li>
                    <li class="list-group-item mx-5 mt-2 mb-2">MySQL</li>
                    <!-- Agrega más habilidades según necesites -->
                </ul>
            </div>
        </div>
    </div>
</div>