<footer class=" text-light text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="nav-link btn" aria-current="page" id="home" (click)="navigateTo('home')"><b> Home</b></a>
              </li>
              <li class="list-inline-item">
                <a class="nav-link btn" id="projects" (click)="navigateTo('projects')"><b> Projects</b></a>
              </li>
              <li class="list-inline-item">
                <a class="nav-link btn" id="skills" (click)="navigateTo('skills')"><b> Skills</b></a>  
              </li>
              <li class="list-inline-item">
                <a class="nav-link btn" id="contact" (click)="navigateTo('contact')"><b> Contact</b></a>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square fa-lg ms-3"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-square fa-lg ms-2"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin-square fa-lg ms-2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p>&copy; 2024 David Figueroa | All rights reserved | Terms of Use | Privacy Policy</p>

  </div>
</footer>