<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-5">¡About me!</h1>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 pt-5 pb-5 ps-3 pe-3">
              <h5 class="card-title">FULL-STACK WEB DEVELOPER JR</h5>
              <p>I'm a full-stack web developer and i work remotely from South America.</p>
            </div>
            <div class="col-md-6 pt-3">
              <img src="assets/img/default-avatar.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
