<div class="container mb-5">
  <h1>Proyectos Destacados</h1>
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Proyecto 1</h5>
                  <p class="card-text">Descripción del proyecto 1.</p>
                  <a href="#" class="btn btn-primary">Ver más</a>
              </div>
          </div>
          <div class="card mt-3">
              <div class="card-body">
                  <h5 class="card-title">Proyecto 2</h5>
                  <p class="card-text">Descripción del proyecto 2.</p>
                  <a href="#" class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>
</div>